<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>KDG Zoho Admin Panel | API Key</title>
    	<!-- ================= Favicon ================== -->
        <link rel="shortcut icon" href="assets/images/favicon.ico">
        <link rel="apple-touch-icon" href="assets/images/favicon.ico">
    	<!-- Styles -->
        <link href="assets/css/lib/font-awesome.min.css" rel="stylesheet">
        <link href="assets/css/lib/themify-icons.css" rel="stylesheet">
        <link href="assets/css/lib/bootstrap.min.css" rel="stylesheet">
        <link href="assets/css/lib/unix.css" rel="stylesheet">
        <link href="assets/css/style.css" rel="stylesheet">
    </head>
    <body class="bg-primary">
    	<div class="unix-login">
    		<div class="container">
    			<div class="row">
    				<div class="col-lg-6 col-lg-offset-3">
    					<div class="login-content">
    						<div class="login-logo">
    							<a href="index.html"><img alt="KDG" src="assets/images/logo.png"><span>Zoho Admin Portal</span></a>
    						</div>
                <div class="login-form">
                  <form>
                    <h4>Zoho Configuration</h4>
                    <div class="form-group">
                      <label>Zoho API Key * <span class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" title="Find this by logging into Zoho CRM and navigating to the Extensions & API's section under Settings > Setup."></span></label>
                      <input type="text" class="form-control" placeholder="Enter Your API Key Number">
                    </div>
                    <button type="submit" class="btn btn-primary btn-flat m-b-15">Submit API Key</button>
                  </form>
                  <div class="register-link text-center">
  									<p>Don't want to enter your API Key now? <a href="#">Log out</a></p>
  								</div>
                </div>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>

      <script src="assets/js/lib/jquery.min.js"></script>
      <!-- jquery vendor -->
      <script src="assets/js/lib/bootstrap.min.js"></script>
      <!-- bootstrap -->
      <script>
        $(function () {
          $('[data-toggle="tooltip"]').tooltip()
        });
      </script>
    </body>
</html>
