<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KDG Zoho Admin Panel | Integrations</title>
    <!-- ================= Favicon ================== -->
      <link rel="shortcut icon" href="assets/images/favicon.ico">
      <link rel="apple-touch-icon" href="assets/images/favicon.ico">
  <!-- Styles -->
    <link href="assets/css/lib/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/lib/themify-icons.css" rel="stylesheet">
    <link href="assets/css/lib/mmc-chat.css" rel="stylesheet" />
    <link href="assets/css/lib/lobipanel.min.css" rel="stylesheet" />
    <link href="assets/css/lib/sidebar.css" rel="stylesheet">
    <link href="assets/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/lib/unix.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
  </head>
<body>
    <div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
        <div class="nano">
            <div class="nano-content">
                <ul>
					          <li><a href="dashboard.html"><i class="ti-home"></i>Dashboard</a></li>
                    <li class="active"><a href="integrations.html"><i class="ti-control-shuffle"></i>Integrations</a></li>
                </ul>
            </div>
        </div>
    </div><!-- /# sidebar -->
    <div class="header">
        <div class="pull-left">
            <div class="logo"><a href="index.html"><img src="assets/images/logo.png" alt="" /><span>Zoho Admin Panel</span></a></div>
            <div class="hamburger sidebar-toggle">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </div>
        </div>
        <div class="pull-right p-r-15">
            <ul>
              <li class="header-icon dib"><span class="user-avatar"><span class="hidden-xs">Barry Allen</span><span class="hidden-sm hidden-md hidden-lg"><i class="ti-user"></i></span> <i class="ti-angle-down f-s-10"></i></span>
                  <div class="drop-down dropdown-profile">
                      <div class="dropdown-content-body">
                          <ul>
                              <li><a href="#"><i class="ti-settings"></i> <span>Profile</span></a></li>
                              <li><a href="#"><i class="ti-power-off"></i> <span>Logout</span></a></li>
                          </ul>
                      </div>
                  </div>
              </li>
            </ul>
        </div>
    </div>
    <div class="content-wrap">
        <div class="main">
            <div class="container-fluid">
                <div class="row header-row">
                    <div class="col-xs-12 p-0">
                        <div class="page-header">
                            <div class="page-title">
                                <h1>Integrations</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-content">
                  <div class="lobipanel">
                    <div class="panel lobipanel-basic panel-white">
                      <div class="panel-heading">
                        <div class="panel-title">
                          EMAIL VERIFICATION
                          <div class="checkbox checkbox-inline">
                            <label>
                              <input type="checkbox" checked="checked"> Enabled
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="panel-body">
      									<p>If activated, we will use our verifaction technology to lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <form class="form-horizontal">
                          <div class="form-group">
                            <div class="checkbox col-md-4 col-lg-3">
                              <label class="control-label p-t-0"><input type="checkbox" checked="checked"> <b>Opt-Out Failed Emails</b></label>
                            </div>
                            <div class="col-md-8 col-lg-9">
                              <p class="m-t-7 m-b-0 color-primary">If an email fails and this is checked, then it will mark the “email opt-out” field in Zoho as checked.</p>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="checkbox col-md-4 col-lg-3">
                              <label class="control-label p-t-0"><input type="checkbox"> <b>Add Note if Email Fails</b></label>
                            </div>
                            <div class="col-md-8 col-lg-9">
                              <p class="m-t-7 m-b-0 color-primary">If an email fails and this is checked, then it will add a note to the record that says that the email has failed verification.</p>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
        				</div><!-- /# main content -->
            </div><!-- /# container-fluid -->
        </div><!-- /# main -->
    </div><!-- /# content wrap -->

    <script src="assets/js/lib/jquery.min.js"></script><!-- jquery vendor -->
    <script src="assets/js/lib/jquery.nanoscroller.min.js"></script><!-- nano scroller -->
    <script src="assets/js/lib/sidebar.js"></script><!-- sidebar -->
    <script src="assets/js/lib/bootstrap.min.js"></script><!-- bootstrap -->
    <script src="assets/js/lib/mmc-common.js"></script>
    <script src="assets/js/lib/weather/jquery.simpleWeather.min.js"></script>
    <script src="assets/js/lib/weather/weather-init.js"></script>
    <script src="assets/js/scripts.js"></script><!-- scripit init-->

</body>

</html>
