/*    Font Variable
----------------------*/
/*    Color Variable
-----------------------*/
/*    Solid Color
------------------*/
/*    Brand color
----------------------*/
thead tr th {
  color: #878787;
  font-weight: normal;
  text-transform: uppercase;
}
tbody tr th {
  color: #878787;
  font-family: 'MontserratLight', sans-serif;
  font-weight: normal;
}
tbody tr td {
  font-family: 'MontserratLight', sans-serif;
  color: #878787;
}
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  vertical-align: top;
}
.table > thead > tr > th {
  border-bottom: 1px solid #e7e7e7;
}
.table .badge {
  text-transform: uppercase;
}
.table .form-control {
  height: 30px;
  padding: 3px 6px;
  max-width: 200px;
  display: inline-block;
}
.table .control-label {
  font-weight: bold;
  margin-top: 4px;
}
.table-bordered {
  border: 1px solid #ddd !important;
}
.table-responsive {
  border: none !important;
  padding: 0 0 10px 0;
}
.table-responsive > table {
  margin-bottom: 20px !important;
}
